.table-container {
  width: 95%;
  align-self: center;
}
.main-table {
  width: 100%;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  align-self: flex-start;
}
.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;

  border: 1px solid rgba(128, 128, 128, 0.281);
  border-width: 1px 0;
}
.table-header-cell {
  font-weight: bolder;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table-header-cell:hover:not(.product-column, .sort-column) {
  cursor: pointer;
  color: red;
  transition: 500ms;
}
.table-header-cell > img {
  margin: 0 0.5rem;
}

.first-column {
  width: 5%;
}
.product-column {
  width: 28%;
}
.rating-column {
  width: 10%;
}
.vintage-column {
  width: 10%;
}
.qty-column {
  width: 10%;
}
.vol-column {
  width: 20%;
}
.cost-column {
  width: 6%;
}
.price-column {
  width: 6%;
}
.sort-column {
  width: 5%;
}
.table-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
