.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #811434;
}
.navbar-search {
	width: 60rem;
}
.navbar-logo {
	height: 2rem;
}

.navbar-profile{
	height: 2rem;
}
.navbar-notification {
	height: 2rem;
}