@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #811434;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3.5rem;
  border-radius: 0px;
}

.navbar-logo {
  height: 19.999967575073242px;
  width: 134.748291015625px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.navbar-search {
  height: 32px;
  width: 354px;
  border-radius: 4px;
  border: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 47rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}
.navbar-profile-container {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-avatar {
  height: 32px;
  width: 32px;
  left: 0px;
  top: 0px;
}
.navbar-dropdown {
  height: 20px;
  width: 20px;
  left: 140px;
  top: 6px;
  border-radius: 0px;
}
.navbar-profile-name {
  height: 24px;
  width: 90px;
  left: 0px;
  top: 4px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}
.navbar-notification {
  height: 24px;
  width: 24px;
  top: 16px;
  margin-right: 2rem;
  border-radius: 0px;
}
.navbar-notification:hover,
.navbar-dropdown:hover,
.navbar-avatar,
.navbar-logo {
  cursor: pointer;
}
