@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #811434;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 4.5rem;
  border-radius: 0px;

  position: sticky;
  top: 0;
  z-index: 5000;
}

.navbar-logo {
  height: 1.8rem;
  position: absolute;
}
.navbar-search {
  position: absolute;
  left: 32rem;
  height: 2.5rem;
  width: 20%;
  min-width: 25rem;
  border-radius: 4px;
  border: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -10rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}
.navbar-profile-container {
  position: absolute;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
.navbar-avatar {
  height: 3rem;
  width: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}
.navbar-dropdown {
  height: 30px;
  width: 30px;
  left: 140px;
  top: 6px;
  border-radius: 0px;
}
.navbar-profile-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;

  margin: 0 0.5rem 0 0.5rem;
}
.navbar-notification {
  height: 2rem;
  width: 2rem;
  top: 16px;
  margin-right: 2rem;
  border-radius: 0px;

  margin: 0 3rem 0 0.5rem;
}
.navbar-notification:hover,
.navbar-dropdown:hover,
.navbar-avatar,
.navbar-logo {
  cursor: pointer;
}
