.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem 0 1.2rem 0;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item-icon {
  height: 2rem;
  width: 2rem;
  margin: 0 1.5rem 0 1.5rem;
}
.menu-item-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #485572;
}
.active-tab {
  background-color: #f7f1f3;
}
